<ion-list style="overflow-x:scroll; padding: 5px;">
  <ion-badge style="margin: 5px;" color="primary" *ngFor="let user of chatUser">{{user}}</ion-badge>
</ion-list>
<ion-list #chat class="chat-wrapper">
  <ion-card *ngFor="let m of msg" [color]="isCurrentUser(m.user) ? 'primary': 'light'">
    <ion-card-header>
      <ion-card-subtitle>
        {{m.user.name}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [style.text-align]="isCurrentUser(m.user) ? 'end' : 'start'">
      {{m.msg}}
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-searchbar #chatmsg animated autocorrect search-icon="send-outline" color="primary" placeholder="Ahoi"
              [(ngModel)]="chatMsg"
              (keyup.enter)="sendMsg()">
</ion-searchbar>