<ion-list class="chat-wrapper">
  <ion-item *ngFor="let m of msg" [color]="getColor(m.user)">
    <!-- <ion-avatar slot="start">
      <img src="./avatar-finn.png">
    </ion-avatar> -->
    <ion-note [slot]="isCurrentUser(m.user) ? 'end': 'start'"
              color="tertiary"
              style="width: 5%; margin: 0px;">
      {{m.user.name}}
    </ion-note>
    <ion-label>
      
      <!-- <h3>{{m.user.role}}</h3> -->
      
    </ion-label>
    <p>{{m.msg}}</p> 
  </ion-item>
</ion-list>
<ion-searchbar #chatmsg animated autocorrect search-icon="send-outline" color="primary" placeholder="Ahoi"
              [(ngModel)]="chatMsg"
              (keyup.enter)="sendMsg()">
</ion-searchbar>